# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.qodo

api/.venv
api/.READ
api/.python-version
api/pyproject.toml
api/uv.lock
api/.vscode
api/**/__pycache__
api/venv
.vscode/
.xata/
uv.lock

**.code-workspace
certificates

#Serwist
public/sw*
public/swe-worker*