.entry-animation {
    animation: entry 0.2s forwards ease-out;
}

@keyframes entry {
    from {
        opacity: 0.7;
        transform: translateX(-8px);
    }

    to {
        opacity: 1;
        transform: 0px;
    }
}